<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>
<div th:replace="header :: header"></div>
<main>
    <div class="container">
        <h2 th:text="${vaga != null} ? 'Editar Vaga' : 'Cadastrar Nova Vaga'"></h2>
        <form th:action="${vaga != null} ? @{'/vagas/editar/' + ${vaga.id}} : @{/vagas/criar}" method="post">
            <label>Posição (ex: A1, B2):</label>
            <input type="text" name="posicao" th:value="${vaga?.posicao}" required/>
            <label>Status:</label>
            <input type="text" name="status" th:value="${vaga?.status}" required/>
            <button class="btn" type="submit">Salvar</button>
            <a class="btn" href="/vagas">Cancelar</a>
        </form>
    </div>
</main>
<div th:replace="footer :: footer"></div>
</body>
</html>
